@font-face {
  font-family: 'Stea';
  src: url('Stea.eot');
  src: url('Stea.woff2') format('woff2'),
       url('Stea.woff') format('woff'),
       url('Stea.ttf') format('truetype'),
       url('Stea.svg#Stea') format('svg'),
       url('Stea.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

