@font-face {
  font-family: 'Stea';
  src: url('/fonts/stea/Stea.eot');
  src: url('/fonts/stea/Stea.woff2') format('woff2'),
       url('/fonts/stea/Stea.woff') format('woff'),
       url('/fonts/stea/Stea.ttf') format('truetype'),
       url('/fonts/stea/Stea.svg#Stea') format('svg'),
       url('/fonts/stea/Stea.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

