@media only screen and (min-width: 721px) and (max-width: 1024px) {
  nav.navbar {
  font-size: 1.25em;

  .logo {
    font-family: 'Stea';
    font-size: 2em;
  }

  .nav-left,
  .nav-right {
    display: none;
  }
}
}