@font-face {
  font-family: 'Stea';
  src: url('./stea/Stea.woff2') format('woff2'),
       url('./stea/Stea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('./league/LeagueGothic-Regular.woff2') format('woff2'),
       url('./league/LeagueGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src:  url('./americanTypewriter/AmericanTypewriter.woff2') format('woff2'),
        url('./americanTypewriter/AmericanTypewriter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

