extends layout

block content
  section.flex.flex-column.full-height#first-section
    nav.header
      .nav-left
        a(href="#local") LOCAL
        //- a(href="#padrinhos") PADRINHOS
      .nav-center
        a(href="#names").logo l=v
      .nav-right
        a(href="#listas") LISTA
    
    .jumbo.text-center
      .names
        h1.translate-left Liliane
        h1.translate-right e Victor 
      .subtitle.ametype vão se casar em #{days} dias

  section.row.text-center#local
    .col-md.text-center
      .localizacao
        p.no-margin-bottom.ametype num lugar cheio de amor chamado
        a(href='http://www.nossoceleiro.com/', target='blank')
          h2.text-center.box
            | NOSSO
            br
            | CELEIRO
        .como-chegar
          a(href='https://goo.gl/maps/pRCfKhVCg6z', target='blank').btn.btn-md como chegar

    .col-lg.text-center.full-width
      .date
        p.ametype no dia
        p.date-number 12 
        | de
        p.date-month outubro
        | de 
        p.date-number 2017


  //- section.row#padrinhos
  //-   .col-lg
  //-     p com suas madrinhas...
  //-   .col-lg
  //-     p ... e padrinhos
  
  section.row.text-center#listas
    .col-sm-12
      p.ametype e você pode presenteá-los em
    .col-sm
      p.gifts-buttons
        a(href="http://www2.zelo.com.br/weddinglistProducts.aspx?id=80346&idproduct=&qty=", target="blank").btn.btn-lg.font-condensed ZELO
        a(href="http://www.ricardoeletro.com.br/ListaCasamento/ListaPresentes/106315/Victor-Pedro-e-Liliane/", target="blank").btn.btn-lg.font-condensed Ricardo eletro
        a(href="https://listadecasamento.shoptime.com.br/pages/BridalRegistryHomePage/bridalRegistryId/01-01-1902459/", target="blank").btn.btn-lg.font-condensed shoptime

