extends layout

block content
  nav.navbar
    .nav-left
      a(href="#") LOCAL
      a(href="#") PADRINHOS
    .nav-center
      a(href="#").logo l=v
    .nav-right
      a(href="#") LISTA
      a(href="#") CHÁ
  .container
    .row
      .col-sm
        .jumbo.text-center
          .names
            h1.translate-left Liliane
            h1.translate-right e Victor
          p vão se casar em #{days} dias...

    .row
      .col-sm.text-center
        p num lugar cheio de amor cahamado...
        p.large.text-center 
          | NOSSO
          br
          | CELEIRO
        a.btn.btn-md como chegar
    .row
      .col-md
        p com suas madrinhas...
      .col-md
        p ... e padrinhos
    .row
      .col-sm
        p ... e você pode presenteá-los em...
    .row.text-center
      .col-md
        a.btn.btn-lg.font-condensed ZELO
        a.btn.btn-lg.font-condensed shoptime

