doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:image', content='http://lilianeevictor.me/images/maos_dadas.jpg')
    meta(property='og:title', content='Liliane e Victor')
    meta(property='og:description', content='faltam '+days+' dias')
  body
    block content
    footer.container
      .row
        .col-sm
          p &copy; Victor e Liliane 2017
        .col-sm.text-right 
          p 
            | design and code by &nbsp;
            a(href='https://github.com/vpcsilva') @vpcsilva

    script(src='/app.bundle.js')
