
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: large;
  justify-content: center;
  align-items: center;
  margin: 0px;
  overflow-x: hidden;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
  
.jumbo {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 auto;

  > * {
    width: 100%;
  }

  .names{
    transform: rotate(-4deg);
    
    h1 {
      font-family: 'Stea';
      font-size: 3em;
      line-height: 0.6em;
    }

    .translate-right {
      transform: translateX(47px)
    }
    .translate-left {
      transform: translateX(-47px)
    }
  }

  .subtitle {
    font-size: x-large;
  }
}

a {
  color: #555;
  text-decoration: none;

  &:hover {
    color: #111;
  }
}

nav.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25em;

  .logo {
    font-family: 'Stea';
    font-size: 2.5em;
  }

  .nav-left,
  .nav-right {
    display: none;
  }
  .nav-center {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
  }
}

.font-condensed {
  font-family: 'LeagueGothic';
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

div.btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  margin: 0 auto;
}

.btn-md {
  font-size: larger;
  padding: 10px 15px;
}

.btn-lg {
  font-size: xx-large;
  padding: 15px 20px;
}

.gifts-buttons{
  .btn {
    width: 200px;
    margin: 10px 10px;
  }
}

.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

section.row {
  padding: 30px 0;
}

.localizacao {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  
  > * {
    width: 100%;
  }
}

h2.box {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid black;
}

.date-number {
  font-size: 2.3em;
  margin-bottom: 0;
  margin-top: 0;
}

.date-month {
  font-family: "Stea";
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  padding: 30px 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  nav.header {
    .nav-left,
    .nav-right {
      width: 45%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .jumbo .names h1 {
    font-size: 5em;
  }
}