@font-face {
  font-family: 'Stea';
  src: url('/fonts/Stea.woff2') format('woff2'),
       url('/fonts/Stea.woff') format('woff'),
       url('/fonts/Stea.eot') format('embedded-opentype'),
       url('/fonts/Stea.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

