@font-face {
  font-family: 'Winter Calligraphy';
  src: url('WinterCalligraphy.eot');
  src: url('WinterCalligraphy.woff2') format('woff2'),
       url('WinterCalligraphy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WinterCalligraphy';
  src: url('WinterCalligraphy.woff') format('woff'),
       url('WinterCalligraphy.ttf') format('truetype'),
       url('WinterCalligraphy.svg#WinterCalligraphy') format('svg');
  font-weight: normal;
  font-style: normal;
}

